<section>
  <form [formGroup]="form">
    <div class="row">

      <!-- presense -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label  class="form-label">Statut <small style="color: red;">*</small></label>
          <ng-select
            [items]="statutPresence"
            bindValue="value"
            placeholder="Selectionner..."
            formControlName="statutPresence">
          </ng-select>
        </div>
      </div>

      <!-- justification -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="justification" class="form-label">Justification</label>
          <input type="text" class="form-control form-control-lg" id="justification" placeholder="justification" formControlName="justification">
        </div>
      </div>

      <!-- session formation id -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="SessionFormationId" class="form-label">Session Formation<small style="color: red;"> *</small></label>
          <ng-select
            [items]="sessionFormation"
            bindLabel="name"
            bindValue="id"
            placeholder="Sélectionner une session de formation..."
            formControlName="sessionFormationId">
            <ng-template ng-option-tmp let-item="item">
              ...
            </ng-template>
          </ng-select>
        </div>
      </div>
    </div>

    <!-- employe id-->
    <div class="col-sm-6">
      <div class="mb-3">
        <label for="employeId" class="form-label">Employe<small style="color: red;"> *</small></label>
        <ng-select
          [items]="employe"
          bindLabel="name"
          bindValue="id"
          placeholder="Sélectionner un employe..."
          formControlName="employeId">
          <ng-template ng-option-tmp let-item="item">
            {{ item.nom }} {{ item.prenom }}
          </ng-template>
        </ng-select>
      </div>

    </div>
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
    <button type="button" class="btn btn-primary" (click)="update()" [disabled]="!form.valid">Enregistrer</button>
  </div>
</section>


