<section  *ngIf="!isSearch" >
  <form [formGroup]="form">
    <div class="row">
      <!-- nom -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom <small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="nom" placeholder="nom" formControlName="nom">
        </div>
      </div>

      <!-- Niveau -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label  class="form-label">Niveau <small style="color: red;">*</small></label>
          <ng-select
            [items]="niveau"
            bindLabel="description"
            bindValue="name"
            placeholder="Selectionner..."
            formControlName="niveau">
          </ng-select>
        </div>
      </div>

      <!-- Domaine -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="domaine" class="form-label">Domaine</label>
          <input type="text" class="form-control form-control-lg" id="domaine" placeholder="Domaine" formControlName="domaine">
        </div>
      </div>
    </div>
  </form>

  <!-- Boutons -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
    <button type="button" class="btn btn-primary" *ngIf="!isSearch" (click)="create()" [disabled]="!form.valid">Enregistrer</button>
    <button type="button" class="btn btn-primary" *ngIf="isSearch" (click)="doSearch()">Rechercher</button>
  </div>
</section>

<section *ngIf="isSearch">
  <form [formGroup]="form">
    <div class="row">
      <!-- nom -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom <small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="nom" placeholder="nom" formControlName="nom">
        </div>
      </div>

      <!-- Niveau -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label  class="form-label">Niveau <small style="color: red;">*</small></label>
          <ng-select
            [items]="niveau"
            bindLabel="description"
            bindValue="name"
            placeholder="Selectionner..."
            formControlName="niveau">
          </ng-select>
        </div>
      </div>

      <!-- Domaine -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="domaine" class="form-label">Domaine</label>
          <input type="text" class="form-control form-control-lg" id="domaine" placeholder="Domaine" formControlName="domaine">
        </div>
      </div>
    </div>
  </form>

  <!-- Boutons -->
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
    <button type="button" class="btn btn-primary" *ngIf="!isSearch" (click)="create()" [disabled]="!form.valid">Enregistrer</button>
    <button type="button" class="btn btn-primary" *ngIf="isSearch" (click)="doSearch()">Rechercher</button>
  </div>
</section>

