<section *ngIf="!isSearch">   
  <form [formGroup]="form">
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3"> 
          <label for="type" class="form-label">type<small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="type" placeholder="type" formControlName="type">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="date" class="form-label">date<small style="color: red;">*</small></label>
          <input type="date" class="form-control form-control-lg" id="date" placeholder="date" formControlName="date">
        </div>
      </div>
       <div class="col-sm-6">
        <div class="mb-3">
          <label for="bareme" class="form-label">bareme<small style="color: red;">*</small></label>
          <input type="number" class="form-control form-control-lg" id="bareme" placeholder="bareme" formControlName="bareme">
        </div>
      </div>
       </div>
     
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
    <button type="button" class="btn btn-primary" (click)="create()" [disabled]="!form.valid">Enregistrer</button>
  </div>
</section>

<section *ngIf="isSearch">   
  <form [formGroup]="form">
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3"> 
          <label for="type" class="form-label">type<small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="type" placeholder="" formControlName="type">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="date" class="form-label">date<small style="color: red;">*</small></label>
          <input type="date" class="form-control form-control-lg" id="date" placeholder="date" formControlName="date">
        </div>
      </div>
       <div class="col-sm-6">
        <div class="mb-3">
          <label for="bareme" class="form-label">bareme<small style="color: red;">*</small></label>
          <input type="number" class="form-control form-control-lg" id="bareme" placeholder="bareme" formControlName="bareme">
        </div>
      </div>
    </div>
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
    <button type="button" class="btn btn-primary" (click)="doSearch()">Rechercher</button>
  </div>
</section>
