<section>
  <form [formGroup]="form">
    <div class="row">
      <!-- note -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="note" class="form-label">Score</label>
          <input type="number" class="form-control form-control-lg" id="note" placeholder="score" formControlName="score">
        </div>
      </div>

      <!-- commentaire -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="commentaire" class="form-label">Commentaire</label>
          <input type="text" class="form-control form-control-lg" id="commentaire" placeholder="Commentaire" formControlName="commentaire">
        </div>
      </div>

      <!-- evaluation id -->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="evaluationId" class="form-label">Evaluation ID<small style="color: red;">*</small></label>
          <ng-select
            [items]="evaluations"
            bindLabel="typeEvalutation"
            bindValue="id"
            placeholder="Sélectionner un employe..."
            formControlName="evaluationId">
            <ng-template ng-option-tmp let-item="item">
              {{ item.type }}
            </ng-template>
          </ng-select>
        </div>
      </div>

      <!-- employe id-->
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="employeId" class="form-label">Employe ID<small style="color: red;">*</small></label>
          <ng-select
            [items]="employe"
            bindLabel="fullName"
            bindValue="id"
            placeholder="Sélectionner un employe..."
            formControlName="employeId">
          </ng-select>
        </div>
      </div>

    </div>
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
    <button type="button" class="btn btn-primary" (click)="update()" [disabled]="!form.valid">Enregistrer</button>
  </div>
</section>


