<section *ngIf="!isSearch">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom<small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="nom" placeholder="Nom" formControlName="nom">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="prenom" class="form-label">Prénom<small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="prenom" placeholder="Prénom" formControlName="prenom">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="email" class="form-label">Email<small style="color: red;">*</small></label>
          <input type="email" class="form-control form-control-lg" id="email" placeholder="Email" formControlName="email">
        </div>
      </div>

        <div class="col-sm-6">
            <div class="mb-3">
            <label for="telephone" class="form-label">Téléphone<small style="color: red;">*</small></label>
            <input type="text" class="form-control form-control-lg" id="telephone" placeholder="Téléphone" formControlName="telephone">
            </div>
        </div>
        <div class="col-sm-6">
            <div class="mb-3">
            <label for="dateNaissance" class="form-label">Date de Naissance<small style="color: red;">*</small></label>
            <input type="date" class="form-control form-control-lg" id="dateNaissance" placeholder="Date de Naissance" formControlName="dateNaissance">
            </div>
        </div>
       <div class="col-sm-6">
            <div class="mb-3">
            <label for="adresse" class="form-label">Adresse<small style="color: red;">*</small></label>
            <input type="text" class="form-control form-control-lg" id="adresse" placeholder="Adresse" formControlName="adresse">
            </div>
        </div>

        <div class="col-sm-6">
        <div class="mb-3">
          <label  class="form-label">Niveau Etude <small style="color: red;">*</small></label>
          <ng-select
            [items]="niveauEtudeList"
            bindValue="value"
            placeholder="Selectionner..."
            formControlName="niveauEtude">
          </ng-select>
        </div>
      </div>

    <div class="col-sm-6" *ngIf="form.get('niveauEtude')?.value === 'AUTRE'">
    <div class="mb-3">
    <label for="autreNiveauEtude" class="form-label">
      Précisez votre niveau d'étude <small style="color: red;">*</small>
    </label>
    <input
      type="text"
      class="form-control form-control-lg"
      id="autreNiveauEtude"
      placeholder="Veillez saisir votre niveau d'étude "
      formControlName="autreNiveauEtude"
    />
  </div>
</div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label  class="form-label">Statut Candidature <small style="color: red;">*</small></label>
          <ng-select
            [items]="statuts"
            bindLabel="description"
            bindValue="name"
            placeholder="Selectionner..."
            formControlName="statutCandidature">
          </ng-select>
        </div>
      </div>
    </div>
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
    <button type="button" class="btn btn-primary" (click)="create()" [disabled]="!form.valid">Enregistrer</button>
  </div>
</section>

<section *ngIf="isSearch">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom<small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="nom" placeholder="" formControlName="nom">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="prenom" class="form-label">Prénom<small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="prenom" placeholder="Prénom" formControlName="prenom">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="email" class="form-label">Email<small style="color: red;">*</small></label>
          <input type="email" class="form-control form-control-lg" id="email" placeholder="Email" formControlName="email">
        </div>
      </div>

      <div class="col-sm-6">
        <div class="mb-3">
          <label for="telephone" class="form-label">Téléphone<small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="telephone" placeholder="Téléphone" formControlName="telephone">
        </div>
      </div>
       <div class="col-sm-6">
        <div class="mb-3">
          <label for="dateNaissance" class="form-label">Date de Naissance<small style="color: red;">*</small></label>
          <input type="date" class="form-control form-control-lg" id="dateNaissance" placeholder="Date de Naissance" formControlName="dateNaissance">
        </div>
      </div>
        <div class="col-sm-6">
            <div class="mb-3">
            <label for="adresse" class="form-label">Adresse<small style="color: red;">*</small></label>
            <input type="text" class="form-control form-control-lg" id="adresse" placeholder="Adresse" formControlName="adresse">
        </div>
        <div class="col-sm-6">
            <div class="mb-3">
            <label for="niveauEtude" class="form-label">Niveau d'Étude<small style="color: red;">*</small></label>
            <input type="text" class="form-control form-control-lg" id="niveauEtude" placeholder="Niveau d'Étude" formControlName="niveauEtude">
        </div>
        </div>
        
      </div>
    </div>
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
    <button type="button" class="btn btn-primary" (click)="doSearch()">Rechercher</button>
  </div>
</section>
