<section *ngIf="!isSearch">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom<small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="nom" placeholder="Nom" formControlName="nom">
        </div>
      </div>
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="commentaire" class="form-label">Commentaire<small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="commentaire" placeholder="Commentaire" formControlName="commentaire">
        </div>
      </div>
      </div>
      
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
    <button type="button" class="btn btn-primary" (click)="create()" [disabled]="!form.valid">Enregistrer</button>
  </div>
</section>

<section *ngIf="isSearch">
  <form [formGroup]="form">
    <div class="row">
      <div class="col-sm-6">
        <div class="mb-3">
          <label for="nom" class="form-label">Nom<small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="nom" placeholder="" formControlName="nom">
        </div>
      </div>
     <div class="col-sm-6">
        <div class="mb-3">
          <label for="commentaire" class="form-label">Commentaire<small style="color: red;">*</small></label>
          <input type="text" class="form-control form-control-lg" id="commentaire" placeholder="Commentaire" formControlName="commentaire">
        </div>
      </div>
      </div>
  </form>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="close()">Fermer</button>
    <button type="button" class="btn btn-primary" (click)="doSearch()">Rechercher</button>
  </div>
</section>


